<div id="container">
  <%if @guess.correct? == 1 %>
  You were correct! Next Card:<br>
  <%else%>
  You were incorrect! :(<br>
  The answer is : <%=@card.term%>
  <%end%>
  <div class="button">
    <a id="next_card" href = "/round/<%=@guess.round_id%>"> Next Term</a>
  </div>
</div>
