<div id="container">
  <h1>Create User</h1>
  <form class="pure-form pure-form-stacked" action="/user/create" method="post">
    <input type="text" name="user[username]" placeholder="Username">
    <input type="text" name="user[email]" placeholder="Email">
    <input type="password" name="user[password]" placeholder="Password">
    <input class="pure-button pure-button-primary" type="submit" value="submit">
  </form>
</div>
