<div class = "container">
  <h1>Congratulations!</h1>

  You finished <%=@round.deck.name%>

  <img src="<%= @stats.to_url %>" alt="All Time Stats" />
   <p>This round you got <%=@round.guesses.right.count%> questions correct!



</div>
